body{
    font-family: Arial;
    margin: 5px 100px 10px 100px;
    padding: 0;
    color: white;
    text-align: center;
    background: #555; /*#555652;*/
}

nav{
    margin: 0;
    padding:0;
    margin-bottom: 10px;
}